@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#main_content_layer{
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}
.answer-wrap{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -450px;
	margin-top: -255px;
	width: 900px;
	height: 510px;
	/*border: 1px solid #fff;*/
	border-radius: 4px;
	/*background-color: rgba(255,255,255,0.15);*/
	/*box-shadow: inset 0 0 16px rgba(255,255,255,0.8);*/
}
#background_layer{
	width: 100%;
	height: 100%;
	background-image: url(./bg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}
#wx_render_layer{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
